{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <base href="{% static '/' %}">
    
    <link rel="stylesheet" href="{% static 'css/mobiscroll.javascript.min.css' %}">
    <style>
        .basic { display: none !important }
    </style>
   {% comment %} <script> 
    var calendarCells =document.getElementsByClassName('mbsc-calendar-cell')
      console.log(calendarCells);
    console.log('Number of elements with class mbsc-calendar-cell:', calendarCells.length);
    calendarCells.forEach(function () {
        var innerDiv = $(this).find('div > div');
        if (innerDiv.length > 0) {
            innerDiv.addClass('basic');
        }
    });
</script> {% endcomment %}
</head>
<body>
   
    <!-- Your HTML content -->
    <div id="week-select"></div>

    <!-- Load MobiScroll JavaScript from the static folder -->
    <script src="{% static 'js/mobiscroll.javascript.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        {% comment %} $(document).ready(function () {
            mobiscroll.setOptions({
                theme: 'windows',
                themeVariant: 'light'
            });
        
            mobiscroll.datepicker('#week-select', {
                controls: ['calendar'],
                select: 'preset-range',
                display: 'inline',
                firstSelectDay: 6,
                selectSize: 7
            });
        
            var calendarCells = $('.mbsc-calendar-cell'); // Use jQuery selector
        
            console.log('Number of elements with class mbsc-calendar-cell:', calendarCells);
        
            $.each(calendarCells, function () { // Use $.each instead of each
                console.log('hello')
                var innerDiv = $(this).find('div > div');
                if (innerDiv.length > 0) {
                    innerDiv.addClass('basic');
                }
            });
        }); {% endcomment %}

        mobiscroll.setOptions({
            theme: 'windows',
            themeVariant: 'light'
        });
    
        mobiscroll.datepicker('#week-select', {
            controls: ['calendar'],
            select: 'preset-range',
            display: 'inline',
            firstSelectDay: 6,
            selectSize: 7
        });
        

        document.addEventListener('DOMContentLoaded', function () {
            var calendarCells = document.getElementsByClassName('mbsc-calendar-cell');
           // var innerDiv = calendarCells.querySelector('div');

            console.log('Number of elements with class mbsc-calendar-cell:', calendarCells);
        
            // Convert HTMLCollection to an array and iterate over each element
            Array.from(calendarCells).forEach(function (calendarCell) {
                // Find the inner div element and add the 'basic' class
                console.log('hello');
                var innerDiv = calendarCell.querySelector('div > div');
                if (innerDiv) {
                    innerDiv.classList.add('basic');
                }
            });

        });
        

    </script>
</body>
</html>
