{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Incident Form</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   </head>
   <style>
      .mainTable{
      display:flex;
      width:3745px;
      height: 65px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      align-items: center;
      margin-top: 60px;
      }
      .Srno{
      display: flex;
      align-items: center;
      width:85px;;
      height: 60px;;
      }
      .commonWidth{
      display: flex;
      align-items: center;
      width:203px;
      height: 60px;;
      }
      .chnWidth{
      display: flex;
      align-items: center;
      width:250px;
      height: 60px;;
      }
      p{
      margin-left: 15px;
      color: gray;
      font-weight: 600;
      margin-bottom: 0px;
      font-size: 13px
      }
      .valueInput{
      height:43px;
      margin-left: 15px;
      background-color: rgba(62, 159, 254, 0);
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: 600;
      }
      .valueInput1 {
         height: 30px;
         margin-left: 15px;
         font-size: 15px;
         font-weight: 400;
         font-size: 12px;
         outline:none;
     }
      .CLassdropdown{
      width: 127px;
      height: 28px;
      font-size: 13px;
      padding: 2px;
      margin-left: 15px;
      border: 1.5px solid #2c8ff1 !important;
      color: #2c8ff1 !important;
      border-radius: 6px;
      }
      .btn{
         margin-left: 15px;
         font-size: 11px;
         height: 31px;
         width: 87px;
         border: 1px solid #2c8ff1 !important;
         font-weight: 500;
         background-color: #3E9FFE;
         color: white;
         }
      .rowTable1{
      display:flex;
      width:3745px;
      height: 60px;
      align-items: center;
      }
      .srWidth{
      width: 70px;
      }
      .heading{
      display:flex;
      align-items: center;
      width:3745px;
      height: 60px;
      position:fixed;
      top:0px;
      z-index: 1; 
      background-color: #f1f0f0;
      }
      .extraspace{
      width:339px;
      }
      #formContainer > div:nth-child(odd) {
      background-color: rgba(62, 159, 254, 0.2);
      }
      #formContainer > div:nth-child(even) {
      background-color: white;
      }
      #formContainer > div:nth-child(even) .valueInput {
      background-color: white;
      }
      .submitBUtton{
      background-color:#2c8ff1 !important;
      color:white !important;
      font-size: 12px !important;
      }
      .addrowImage {
      width: 10px;
      height: 10px;
      margin-right: 1px;
      margin-bottom: 2px;
      }
      #addRowButton{
         color: white;
         font-size: 10px;
         background-color: #3E9FFE;
         margin-left: 20px;
         }
    
         #redirectButton{
            width:36px;
            height:36px;
            margin-left:16px;
         }
   </style>
   <body>
      <!-- Success Modal -->
      <div class="modal fade" tabindex="-1" id="successModal" role="dialog">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <p class="text-center">Data Saved Successfully</p>
               </div>
            </div>
         </div>
      </div>

      <div class="heading">
         {% comment %} <button type="button" class="btn btn-info" id="redirectButton">Back</button>  {% endcomment %}
         <img src='{% static 'images/Frame.svg' %}' alt="Image Description" id="redirectButton" >


         <div style='margin-left: 12px;margin-top: 7px'>
            <h6 style='font-size: 15px'>Incident Report Form Details</h6>
         </div>
         <div class='addrowBtn'>
            <button type="button" class="btn" id="addRowButton">
            <img src="{% static 'images/whitePlus.png' %}" alt="Image Description" class='addrowImage'>
            Add Row
            </button>
         </div>
      </div>
      <div class='mainTable'>
         <div class='Srno'>
            <p>Sr.No</p>
         </div>
         <div class='commonWidth'>
            <p>Date</p>
         </div>
         <div class='commonWidth'>
            <p>Incident Time</p>
         </div>
         <div class='commonWidth'>
            <p>Location</p>
         </div>
         <div class='commonWidth'>
            <p>Exact Location</p>
         </div>
         <div class='commonWidth'>
            <p>Plant Site</p>
         </div>
         <div class='commonWidth'>
            <p>Project Code</p>
         </div>
         <div class='chnWidth'>
            <p>Description of Incident</p>
         </div>
         <div class='commonWidth'>
            <p>Root Cause</p>
         </div>
         <div class='commonWidth'>
            <p>Type of Incident</p>
         </div>
         <div class='commonWidth'>
            <p>Hi-Potential Event</p>
         </div>
         <div class='commonWidth'>
            <p>Cateogry</p>
         </div>
         <div class='chnWidth'>
            <p>Immediate Action Taken</p>
         </div>
         <div class='commonWidth'>
            <p>Corrective Action</p>
         </div>
         <div class='commonWidth'>
            <p>Preventive Action</p>
         </div>
         <div class='commonWidth'>
            <p>Responsible Person</p>
         </div>
         <div class='commonWidth'>
            <p>Investigation Status</p>
         </div>
         <div class='commonWidth'>
            <p>Attach Report</p>
         </div>
         <div class='Srno'>
            <p></p>
         </div>
      </div>
      <form method="POST" action="{% url 'incident_form' %}" enctype="multipart/form-data" id="form" autocomplete="off" style="display: none;">
         {% csrf_token %}
         <div class="rowTable1">
            <input type="hidden" name="plant_id" id="plant_id"  >
            <input type="hidden" name="formSubmitDate" id="formSubmitDate" >

            <div class="Srno"><input type="text" class="srWidth valueInput1" placeholder="Sr.No" name="SrNo" id="Srno" value='1'></div>
            <div class="commonWidth"><input type="date" class="valueInput1" placeholder="Incident Date" name="IncidentDate" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Incident Time" name="IncidentTime" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Location" name="Location" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Exact Location" name="ExactLocation" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Plant Site" name="PlantSite" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Project Code" name="ProjectCode" required></div>
            <div class="chnWidth"><input type="text" class=" extraspace valueInput1" placeholder="Description of Incident" name="DescriptionOfIncident" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Root Cause" name="RootCause" required></div>
            <div class="commonWidth">
               <select class="CLassdropdown" name="TypeOfIncident" required>
                  <option value="Near Miss">Near Miss</option>
                  <option value="LTI">LTI</option>
                  <option value="MTI">MTI</option>
                  <option value="Fatal">Fatal</option>
                  <option value="Property Damage">Property Damage</option>
                  <option value="Flash Over">Flash Over</option>
                  <option value="Arc Flash">Arc Flash</option>
                  <option value="Fire">Fire</option>
               </select>
            </div>
            <div class="commonWidth">
               <select class="CLassdropdown" name="HiPotentialIncident" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="NA">NA</option>
               </select>
            </div>
            <div class="commonWidth">
               <select class="CLassdropdown" name="Cateogry" required>
                  <option value="Recordable">Recordable</option>
                  <option value="Non Recordable">Non Recordable</option>
               </select>
            </div>
            <div class="chnWidth"><input type="text" class=" extraspace valueInput1" placeholder="Immediate Action Taken" name="ImmediateActionTaken" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Corrective Action" name="CorrectiveAction" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Preventive Action" name="PreventionAction" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Responsible Person" name="ResponsiblePerson" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Investigation Status" name="InvestigationStatus" required></div>
            <div class="commonWidth">
               <div class="input-group">
                  <div class="custom-file">
                     <input type="file" class="custom-file-input" id="AttachReport" name="AttachReport" aria-describedby="openEvidenceAddon" style="display: none;">
                     <label class="custom-file-label" for="AttachReport"></label>
                  </div>
                  <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button" onclick="document.getElementById('AttachReport').click()" id='AttachReportBtn'>Upload File</button>
                  </div>
               </div>
            </div>
            <div class="Srno">
               <button type="submit" class="btn submitBUtton" id="submitButton" >Submit</button>
            </div>
         </div>
      </form>
      <div id="formContainer"></div>
      <template id="formRowTemplate">
         <div class="rowTable1">
         <input type="hidden" name="week_number" id="week_number_Form" value="">
         <input type="hidden" name="year" id="year_form" value="">
         <div class="Srno"><input type="text" class="srWidth valueInput" placeholder="Sr.No" name="SrNo" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Incident Date" name="IncidentDate" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Incident Time" name="IncidentTime" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Location" name="Location" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Exact Location" name="ExactLocation" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Plant Site" name="PlantSite" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Project Code" name="ProjectCode" disabled></div>
         <div class="chnWidth"><input type="text" class=" extraspace valueInput" placeholder="Description of Incident" name="DescriptionOfIncident" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Root Cause" name="RootCause" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="TypeOfIncident" name="TypeOfIncident" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="HiPotentialIncident" name="HiPotentialIncident" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Cateogry" name="Cateogry" disabled></div>
         <div class="chnWidth"><input type="text" class=" extraspace valueInput" placeholder="Immediate Action Taken" name="ImmediateActionTaken" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Corrective Action" name="CorrectiveAction" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Preventive Action" name="PreventionAction" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Responsible Person" name="ResponsiblePerson" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="Investigation Status" name="InvestigationStatus" disabled></div>
         <div class="commonWidth"><input type="text" class="valueInput" placeholder="AttachReport " name="AttachReport" id="AttachReport" disabled></div>
      </template>


      <script>

   
      </script> 
   </body>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <script>

      function getQueryString() {
         const url = window.location.href;
         const searchParams = new URL(url).searchParams;
         const date = searchParams.get("date");
         const plantcode = searchParams.get("plantcode");
         return { date, plantcode };
     }


      const queryParams = getQueryString();
      console.log(queryParams.date); // This will log the "date" parameter
      console.log(queryParams.plantcode);

       document.getElementById("redirectButton").addEventListener("click", function() {
        //window.location.href = `/api/my_html/?date=${queryParams.date}`; 
        window.history.back();

       });
      

       if (queryParams.date) {
         document.getElementById('formSubmitDate').value = queryParams.date;
         document.getElementById('plant_id').value = queryParams.plantcode;
       }

      populateInputField()
      
      
      function populateInputField() {   
         
      fetch(`/api/incident_form/?plant_code=${queryParams.plantcode}&formSubmitDate=${queryParams.date}`)
      .then(response => response.json())
      .then(data => {
         if (data && Array.isArray(data.data) && 'status' in data) {
            // Access the data array and the form_status
            const dataArray = data.data;
            const formStatus = data.status;

            console.log('Data Array:', dataArray);
            console.log('Form Status:', formStatus);

            if(formStatus==1){
               document.getElementById('addRowButton').style.display='none'

            }

            document.getElementById('Srno').value=dataArray[dataArray.length-1].SrNo+1
            createAndPopulateFormRows(dataArray); 
         }
      })
      .catch(error => {
          console.error('Error:', error);
      });
      }
      
      document.getElementById("addRowButton").addEventListener("click", function() {
         // Hide the button
         this.style.display = "none";
      
         // Show the form
         document.getElementById("form").style.display = "block";
      }); 
      
      
      
      function createAndPopulateFormRow(dataItem) {
      const template = document.getElementById('formRowTemplate');
      const newRow = document.importNode(template.content, true);
      
      
      const inputFields = newRow.querySelectorAll('.valueInput');
      for (const field of inputFields) {
       const fieldName = field.getAttribute('name');
       field.value = dataItem[fieldName] || '';
      }
      
      const formContainer = document.getElementById('formContainer');
      formContainer.appendChild(newRow);
      
      
      }
      
      function createAndPopulateFormRows(data) {
      for (const dataItem of data) {      
      createAndPopulateFormRow(dataItem);
      }
      }

      
      function handleFormSubmission(formId, url) {
         const form = document.getElementById(formId);
         form.addEventListener("submit", function (event) {
             event.preventDefault();
             
             const formData = new FormData(this);
             const csrftoken = getCookie('csrftoken');
         
             const methodValue = "POST";
         
             fetch(url, {
                 method: methodValue,
                 body: formData,
                 headers: {
                     "X-CSRFToken": csrftoken,
                 },
             })
         
             .then(response => {
               console.log(response)
               if (response.status === 201 ) {
                  $('#successModal').modal('show');
         
                  setTimeout(function () {
                      $('#successModal').modal('hide');
                  }, 1000);
         
              }
               else {
                  console.error("Form submission failed. Status:", res.status);
              }
               return response.json()
             })
         
             .then(res => {
               console.log(res.data)
               createAndPopulateFormRow(res.data); 

               setTimeout(function() {
                  window.location.reload();
                }, 1000);

               
             })
             .catch(error => {
                 console.error("Error:", error);
             });
         });
         } 
         
         
         
         
         function getCookie(name) {
         const value = `; ${document.cookie}`; 
         const parts = value.split(`; ${name}=`);
         if (parts.length === 2) return parts.pop().split(';').shift();
         }
         
         
         
      handleFormSubmission("form", "{% url 'incident_form' %}");
      
 
{% comment %} 
       $.ajax({
         type: "GET",
         url: "/api/parent/",
         success: function (data) {
             const today = new Date();
             const weekNumber = getWeekNumber(today);
             const year = today.getFullYear();
            
      
             // Search for an item with matching week_number and year
             const foundItem = data.find(item => item.week_number === weekNumber && item.year === year);          

      
             if (foundItem) {
                 const fieldData = foundItem.form_status;
                 if (fieldData == 1) {
                  document.getElementById('addRowButton').style.display='none';
                  
                 }
             } else {
                 console.log(`No data found for week ${weekNumber} and year ${year}`);
             }
         },
         error: function (xhr, status, error) {
             console.error("Error:", status, error);
         }
      });  {% endcomment %}

      
      function setupFileUpload(inputId, buttonId) {
         const fileInput = document.getElementById(inputId);
         const fileUploadButton = document.getElementById(buttonId);
       
         fileInput.addEventListener('change', function () {
           if (fileInput.files.length > 0) {
             fileUploadButton.textContent = 'File Added';
           }
         });
       }
    
    
    setupFileUpload('AttachReport', 'AttachReportBtn');

   

      
      
      
   </script>
</html>