{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calendar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <base href="{% static '/' %}">
    
    <link rel="stylesheet" href="{% static 'css/mobiscroll.javascript.min.css' %}">
    <style>
        .basic { display: none; }
    </style>

</head>
<body>
   
    <!-- Your HTML content -->
    <div id="week-select"></div>

    <!-- Load MobiScroll JavaScript from the static folder -->
    <script src="{% static 'js/mobiscroll.javascript.min.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            mobiscroll.setOptions({
                theme: 'windows',
                themeVariant: 'light'
            });

            mobiscroll.datepicker('#week-select', {
                controls: ['calendar'],
                select: 'preset-range',
                display: 'inline',
                firstSelectDay: 6,
                selectSize: 7
            });

            var calendarCells = $('.mbsc-calendar-cell');
            console.log('Number of elements with class mbsc-calendar-cell:', calendarCells.length);

            calendarCells.each(function () {
                var innerDiv = $(this).find('div > div');
                if (innerDiv.length > 0) {
                    innerDiv.addClass('basic');
                }
            });
        });

        {% comment %} var calendarCells = document.querySelectorAll('.mbsc-calendar-cell');
 
        // Iterate over each element
        calendarCells.forEach(function (calendarCell) {
            // Find the inner div element and add the 'basic' class
            var innerDiv = calendarCell.querySelector('div > div');
            if (innerDiv) {
                innerDiv.classList.add('basic');
            }
        }); {% endcomment %}
    </script>
</body>
</html>
