{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Observation Form</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   </head>
   <style>
      .mainTable{
      display:flex;
      width:3340px;
      height: 60px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      align-items: center;
      margin-top: 60px;
      }
      .Srno{
      display: flex;
      align-items: center;
      width:85px;
      height: 60px;;
      }
      .commonWidth{
      display: flex;
      align-items: center;
      width:203px;
      height: 60px;;
      }
      .chnWidth{
      display: flex;
      align-items: center;
      width:250px;
      height: 60px;;
      }
      p{
      margin-left: 15px;
      color: gray;
      font-weight: 600;
      margin-bottom: 0px;
      font-size: 13px;
      }
      .valueInput{
      height:43px;
      margin-left: 15px;
      background-color: rgba(62, 159, 254, 0);
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: 600;
      }
      .valueInput1{
      height:43px;
      margin-left: 15px;
      border: none;
      outline: none;
      font-size: 15px;
      font-weight: 600;
      font-size: 13px;
      }
      .CLassdropdown{
      width: 110px;
      height: 28px;
      font-size: 13px;
      padding: 2px;
      margin-left: 15px;
      border: 1.5px solid #2c8ff1 !important;
      color: #2c8ff1 !important;
      border-radius: 6px;
      }
      .btn{
      margin-left: 15px;
      font-size: 11px;
      height: 31px;
      width: 87px;
      border: 1px solid #2c8ff1 !important;
      font-weight: 500;
      background-color: #3E9FFE;
      color: white;
      }
      .rowTable1{
      display:flex;
      width:3340px;
      height: 60px;
      align-items: center;
      }
      .srWidth{
      width: 70px;
      }
      .heading{
      display:flex;
      align-items: center;
      width:3340px;
      height: 60px;
      position:fixed;
      top:0px;
      z-index: 1; 
      background-color: #f1f0f0;
      }
      .extraspace{
      width:339px;
      }
      #formContainer > div:nth-child(odd) {
      background-color: rgba(62, 159, 254, 0.2);
      }
      #formContainer > div:nth-child(even) {
      background-color: white;
      }
      #formContainer > div:nth-child(even) .valueInput {
      background-color: white;
      }
      .submitBUtton{
      background-color:#2c8ff1 !important;
      color:white !important;
      font-size: 12px !important;
      }
      .btn-secondary{
      font-size: 12px;
      }
      .addrowImage {
      width: 10px;
      height: 10px;
      margin-bottom: 2px;
      margin-right: 2px;
      }
      #addRowButton{
      color: white;
      font-size: 10px;
      background-color: #3E9FFE;
      margin-left: 20px;
      }
      #redirectButton{
         width:36px;
         height:36px;
         margin-left:16px;
      }
     
   </style>
   <body>
      

      <div class="modal fade" tabindex="-1" id="successModal" role="dialog">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <p class="text-center">Data Saved Successfully</p>
               </div>
            </div>
         </div>
      </div>

      <div class="heading">
          {% comment %} <button type="button" class="btn btn-info" id="redirectButton">B</button>  {% endcomment %}
          <img src='{% static 'images/Frame.svg' %}' alt="Image Description" id="redirectButton" >

         <div style='margin-left: 12px ; margin-top: 7px;'>
            <h6 style="font-size: 15px">Daily HSE Observation Form Details</h6>
         </div>
         <div class='addrowBtn'>
            <button type="button" class="btn" id="addRowButton">
            <img src="{% static 'images/whitePlus.png' %}" alt="Image Description" class='addrowImage'>
            Add Row
            </button>
         </div>
      </div>
      <div class='mainTable'>
         <div class='Srno'>
            <p>Sr.No</p>
         </div>
         <div class='commonWidth'>
            <p>Date</p>
         </div>
         <div class='commonWidth'>
            <p>Time</p>
         </div>
         <div class='commonWidth'>
            <p>Location</p>
         </div>
         <div class='commonWidth'>
            <p>Plant/Site</p>
         </div>
         <div class='commonWidth'>
            <p>Observation</p>
         </div>
         <div class='commonWidth'>
            <p>Unsafe Condition</p>
         </div>
         <div class='commonWidth'>
            <p>Cateogry</p>
         </div>
         <div class='chnWidth'>
            <p>Corrective Action Taken</p>
         </div>
         <div class='commonWidth'>
            <p>Remaining Person</p>
         </div>
         <div class='commonWidth'>
            <p>Closure Date</p>
         </div>
         <div class='commonWidth'>
            <p>Status</p>
         </div>
         <div class='commonWidth'>
            <p>Stop Work</p>
         </div>
         <div class='commonWidth'>
            <p>Open Evidence</p>
         </div>
         <div class='commonWidth'>
            <p>Closed Evidence</p>
         </div>
         <div class='chnWidth'>
            <p>Remark</p>
         </div>
         <div >
            <p></p>
         </div>
      </div>
      <form method="POST" action="{% url 'observation_form' %}" enctype="multipart/form-data" id="form" autocomplete="off" style="display: none;">
         {% csrf_token %}
         <div class="rowTable1">
            <input type="hidden" name="week_number" id="week_number_Form1" value="">
            <input type="hidden" name="year" id="year_form1" value="">
            <input type="hidden" name="plant_id" id="plant_id" value='10000' >
            <input type="hidden" name="formSubmitDate" id="formSubmitDate" >

            <div class="Srno"><input type="text" class="srWidth valueInput1" placeholder="Sr.No" name="SrNo" id="Srno" value='1'></div>
            <div class="commonWidth"><input type="date" class="valueInput1" placeholder="Date" name="Date" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Time" name="Time" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Location" name="Location" id="Location" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Plant/Site" name="PlantSite" id="PlantSite" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Observation" name="Observation" id="Observation" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Unsafe Condition" name="UnsafeCondition" id="UnsafeCondition" required></div>
            <div class="commonWidth">
               <select class="CLassdropdown" name="Cateogry" id="Cateogry" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="NA">NA</option>
               </select>
            </div>
            <div class="chnWidth"><input type="text" class="valueInput1" placeholder="Corrective Action Taken" name="CorrrectiveActionTAken" id="CorrrectiveActionTAken" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Responsible Person" name="ResponsiblePerson" id="ResponsiblePerson" required></div>
            <div class="commonWidth"><input type="text" class="valueInput1" placeholder="Closure Date" name="ClosureDate" id="ClosureDate" required></div>
            <div class="commonWidth">
               <select class="CLassdropdown" name="Status" id="Status" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="NA">NA</option>
               </select>
            </div>
            <div class="commonWidth">
               <select class="CLassdropdown" name="StopWork" id="StopWork" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="NA">NA</option>
               </select>
            </div>
            <div class="commonWidth">
               <div class="input-group">
                  <div class="custom-file">
                     <input type="file" class="custom-file-input" name="OpenEvidence" id="OpenEvidence"
                        aria-describedby="openEvidenceAddon" style="display: none;">
                     <label class="custom-file-label" for="openEvidenceInput" id="fileInputLabel1"></label>
                  </div>
                  <div class="input-group-append" id='openEvidenveBtn'>
                     <button class="btn btn-outline-secondary" type="button"
                        onclick="document.getElementById('OpenEvidence').click()" id='OpenEvidenceBtn'>Upload File</button>
                  </div>
               </div>
            </div>
            <div class="commonWidth">
               <div class="input-group">
                  <div class="custom-file">
                     <input type="file" class="custom-file-input" name="ClosedEvidence" id="ClosedEvidence"
                        aria-describedby="openEvidenceAddon" style="display: none;">
                     <label class="custom-file-label" for="closedEvidenceInput" id="fileInputLabel2"></label>
                  </div>
                  <div class="input-group-append" >
                     <button class="btn btn-outline-secondary" type="button"
                        onclick="document.getElementById('ClosedEvidence').click()" id='ClosedEvidenceBtn'>Upload File</button>
                  </div>
               </div>
            </div>
            <div class="chnWidth">
               <input type="text" placeholder="Remark" class=" extraspace valueInput1" name="Remark" id="Remark" required>
            </div>
            <div >
               <button type="submit" class="btn submitBUtton" id="submitButton">Submit</button>
            </div>
         </div>
      </form>
      <div id="formContainer"></div>
      <template id="formRowTemplate">
         <div class="rowTable1">
            <input type="hidden" name="week_number" id="week_number_Form" value="">
            <input type="hidden" name="year" id="year_form" value="">
            <div class="Srno"><input type="text" class="srWidth valueInput" placeholder="Sr.No" name="SrNo" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Date" name="Date" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Time" name="Time" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Location" name="Location" id="Location" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Plant/Site" name="PlantSite" id="PlantSite" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Observation" name="Observation" id="Observation" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Unsafe Condition" name="UnsafeCondition" id="UnsafeCondition" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Cateogry" name="Cateogry" id="Cateogry" disabled></div>
            <div class="chnWidth"><input type="text" class="valueInput" placeholder="Corrective Action Taken" name="CorrrectiveActionTAken" id="CorrrectiveActionTAken" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Responsible Person" name="ResponsiblePerson" id="ResponsiblePerson" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Closure Date" name="ClosureDate" id="ClosureDate" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="Status" name="Status" id="Status" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="StopWork" name="StopWork" id="StopWork" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="OpenEvidence" name="OpenEvidence" id="OpenEvidence" disabled></div>
            <div class="commonWidth"><input type="text" class="valueInput" placeholder="ClosedEvidence" name="ClosedEvidence" id="ClosedEvidence" disabled></div>
            <div class="chnWidth">
               <input type="text" placeholder="Remark" class=" extraspace valueInput" name="Remark" id="Remark" disabled>
            </div>
         </div>
      </template>
   </body>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   <script>
      

      function getQueryString() {
         const url = window.location.href;
         const queryString = new URL(url).searchParams.get("date");
         return queryString;
       }


     
       const queryString = getQueryString();
       console.log(queryString)

       document.getElementById("redirectButton").addEventListener("click", function() {
         window.location.href = `/api/my_html/?date=${queryString}`; 
       });
      

       if (queryString) {
         document.getElementById('formSubmitDate').value = queryString;
       }

      populateInputField()
      
      function populateInputField() {        
         
      fetch(`/api/observation_form/?plant_code=10000&formSubmitDate=${queryString}`)
      .then(response => response.json())
      .then(data => {
         if (data && Array.isArray(data.data) && 'status' in data) {
            // Access the data array and the form_status
            const dataArray = data.data;
            const formStatus = data.status;

            console.log('Data Array:', dataArray);
            console.log('Form Status:', formStatus);

            if(formStatus==1){
               document.getElementById('addRowButton').style.display='none'

            }

            document.getElementById('Srno').value=dataArray[dataArray.length-1].SrNo+1
            createAndPopulateFormRows(dataArray); 
         }
         
      
      })
      .catch(error => {
          console.error('Error:', error);
      });
      }
      
      document.getElementById("addRowButton").addEventListener("click", function() {
         // Hide the button
         this.style.display = "none";
      
         // Show the form
         document.getElementById("form").style.display = "block";
      });  
      
      function createAndPopulateFormRow(dataItem) {
      const template = document.getElementById('formRowTemplate');
      const newRow = document.importNode(template.content, true);
      
      
      const inputFields = newRow.querySelectorAll('.valueInput');
      for (const field of inputFields) {
       const fieldName = field.getAttribute('name');
       field.value = dataItem[fieldName] || '';
      }
      
      const formContainer = document.getElementById('formContainer');
      formContainer.appendChild(newRow);
      
      
      }
      
      function createAndPopulateFormRows(data) {
      for (const dataItem of data) {      
      createAndPopulateFormRow(dataItem);
      }
      }

      function handleFormSubmission(formId, url) {
         const form = document.getElementById(formId);
         form.addEventListener("submit", function (event) {
             event.preventDefault();
             
             const formData = new FormData(this);
             const csrftoken = getCookie('csrftoken');
         
             const methodValue = "POST";
         
             fetch(url, {
                 method: methodValue,
                 body: formData,
                 headers: {
                     "X-CSRFToken": csrftoken,
                 },
             })
         
             .then(response => {
               console.log(response)
               if (response.status === 201 ) {
                  $('#successModal').modal('show');
         
                  setTimeout(function () {
                      $('#successModal').modal('hide');
                  }, 1000);
         
              }
               else {
                  console.error("Form submission failed. Status:", res.status);
              }
               return response.json()
             })
         
             .then(res => {
               console.log(res.data)
               createAndPopulateFormRow(res.data); 

               setTimeout(function() {
                  window.location.reload();
                }, 1000);

               
             })
             .catch(error => {
                 console.error("Error:", error);
             });
         });
         } 
         
         
         
         
         function getCookie(name) {
         const value = `; ${document.cookie}`; 
         const parts = value.split(`; ${name}=`);
         if (parts.length === 2) return parts.pop().split(';').shift();
         }
         
         
         
         handleFormSubmission("form", "{% url 'observation_form' %}");




       {% comment %} $.ajax({
         type: "GET",
         url: "/api/parent/",
         success: function (data) {
             const today = new Date();
             const weekNumber = getWeekNumber(today);
             const year = today.getFullYear();

             const buttonClicked = localStorage.getItem('buttonClicked');

             if (buttonClicked === 'true') {
                 document.getElementById('addRowButton').style.display = 'none';
             }
            
      
             const foundItem = data.find(item => item.week_number === weekNumber && item.year === year);          

      
             if (foundItem) {
                 const fieldData = foundItem.form_status;
                 if (fieldData == 1) {
                  document.getElementById('addRowButton').style.display='none';
                  
                 }
             } 
             else {
                 console.log(`No data found for week ${weekNumber} and year ${year}`);
             }
         },
         error: function (xhr, status, error) {
             console.error("Error:", status, error);
         }
      });  {% endcomment %}

   
       

      function setupFileUpload(inputId, buttonId) {
         const fileInput = document.getElementById(inputId);
         const fileUploadButton = document.getElementById(buttonId);
       
         fileInput.addEventListener('change', function () {
           if (fileInput.files.length > 0) {
             fileUploadButton.textContent = 'File Added';
           }
         });
       }
       
       setupFileUpload('OpenEvidence', 'OpenEvidenceBtn');
       setupFileUpload('ClosedEvidence', 'ClosedEvidenceBtn');
       

         
        
  
        
       
      
   </script>
</html>